<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Register">
        <classes>
             <class name = "RegistrationTestCase01" />
        </classes>
    </test>

    <test name="Login">
        <classes>
            <class name = "LoginTestCase02" />
        </classes>
    </test>

    <test name="Products">
        <classes>
            <class name = "OnlineProductsTestCase03" />
        </classes>
    </test>

    <test name="AddToCart">
        <classes>
            <class name = "AddToCartTest04" />
        </classes>
    </test>
</suite>


